<section class="todoapp">
  <header class="header">
    <h1>{{ appname }}</h1>
    <input class="new-todo" [placeholder]="inputhint" autofocus [(ngModel)]="item"
      (keyup.enter)="addItem()" />
  </header>
  <!--
    This section should be hidden by default and shown when there are todos
  -->
  <section class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox" [checked]="0 === itemsLeft" (change)="checkAll()" />
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <!-- These are here just to show the structure of the list items -->
      <!--
        List items should get the class `editing` when editing and `completed` when marked as completed
      -->
      <li *ngFor="let item of data|filter:filterType" [class.completed]="item.isDone" [class.editing]="item.editing">
        <div class="view" (dblclick)="setEditMode(item.id)">
          <input class="toggle" type="checkbox" [checked]="item.isDone" (change)="markDone(item.id)" />
          <label>{{item.title}}</label> <button class="destroy" (click)="removeItem(item.id)"></button>
        </div>
        <input class="edit" [value]="item.title" #edit (keyup.escape)="cancelEdit(item.id)" (keyup.enter)="editItem(item.id, edit.value)" />
      </li>
    </ul>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
  <footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"> <strong>{{ itemsLeft }}</strong> item left</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li><a [class.selected]="filterType===''"          href="#/" (click)="filterType=''">All</a></li>
      <li><a [class.selected]="filterType==='active'"    href="#/active" (click)="filterType='active'">Active</a></li>
      <li><a [class.selected]="filterType==='completed'" href="#/completed" (click)="filterType='completed'">Completed</a></li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" (click)="clearCompleted()">Clear completed</button>
  </footer>
</section>

<app-footer-info></app-footer-info>
